@"
# VS Code
.vscode/
# Python
__pycache__/
*.pyc
.venv/
.env
# Notebooks
.ipynb_checkpoints/
# SO
.DS_Store
Thumbs.db
#Vídeos
video1.mp4
video2.mp4
video3.mp4
video4.mp4
"@ | Out-File -Encoding UTF8 .gitignore